<section class="slide_bar">
    <div class="menu">
        <img src="{{ asset('img/icon/twitter_white.png') }}">
        <div class="list_link">
            <div class="item">
                <i class="fa fa-home"></i>
                <p>Accueil</p>
            </div>
            <div class="item">
                <i class="fa fa-user"></i>
                <p>Profil</p>
            </div>
        </div>
        <div class="profil">
            <div class="icon">
                <img src="{{ asset('img/icon/twitter_white.png') }}" class="img-fluid">
            </div>
            <div class="name">
                <h3>Pseudonyme</h3>
                <h5>@Nom_du_compte</h5>
            </div>
        </div>
    </div>
</section>