<section class="feed">
    <div class="title">
        <h1>Tweeter</h1>
    </div>
    <div class="comment">
        <div class="tweet">
            <div class="icon">
                <img src="{{ asset('img/icon/twitter_white.png') }}" class="img-fluid">
            </div>
            <div class="content">
                <div class="author">
                    <h3 class="pseudo">Pseudonyme <br><strong>@Nom_du_compte</strong></h3>
                </div>
                <div class="text">
                    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean scelerisque
                        ultricies lorem,
                        eget congue nisi egestas ut. Duis blandit orci ac augue viverra, id gravida odio mattis.
                        Aenean ut metus consectetur ipsum viverra finibus vitae quis diam.</p>
                </div>
                <div class="date">
                    <p>15 avr. 2021</p>
                </div>
                <div class="interacting">
                    <div class="item">
                        <p><i class="fa fa-comment"></i>3</p>
                    </div>
                    <div class="item">
                        <p><i class="fa fa-heart"></i>18</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="news_feed">
            <div class="tweet">
                <a class="absolute_link" href="#"></a>
                <div class="icon">
                    <img src="{{ asset('img/icon/twitter_white.png') }}" class="img-fluid">
                </div>
                <div class="content">
                    <div class="author">
                        <h3 class="pseudo">Pseudonyme <strong>@Nom_du_compte</strong></h3>
                        <p class="mx-1">·</p>
                        <p>14/03/2021</p>
                    </div>
                    <div class="text">
                        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                            scelerisque ultricies lorem.</p>
                    </div>
                    <div class="interacting">
                        <div class="item">
                            <p><i class="fa fa-comment"></i>0</p>
                        </div>
                        <div class="item">
                            <p><i class="fa fa-heart"></i>12</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>