.feed {
    margin-left: 33%;
    width: 34%;
    height: 100vh;
}

.feed .title {
    border-bottom: 1px solid #404040;
    padding: 15px;
    font-size: 20px;
}

.feed .title h1 {
    font-size: 22px;
}

.feed .whats_up {
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    border-bottom: 1px solid #404040;
}

.feed .whats_up .icon {
    width: 50px;
    height: 50px;
    background-color: #008dc2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px;
}

.feed .whats_up .icon img {
    width: 100%;
    margin-bottom: 0;
}

.feed .whats_up .tweet_form {
    width: 100%;
    padding-left: 20px;
}

.feed .whats_up .tweet_form #tweet_text {
    background-color: transparent;
    width: 100%;
    border: none;
    border-bottom: 1px solid #404040;
    margin-bottom: 20px;
    border-radius: 0;
    padding: 20px 0 10px 0;

}

.feed .whats_up .tweet_form input::placeholder {
    color: #6f6f6f;
    font-size: 20px;
}

.file_wrapper {
    height: 35px;
    width: 35px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    /*Using a background color, but you can use a background image to represent a button*/
    background-color: transparent;
    border-radius: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: all 0.3s;
}

.file_wrapper {
    background-color: rgba(29, 161, 242, 0.1);
}

.file_wrapper i {
    color: #008dc2;
}

.file_input {
    cursor: pointer;
    height: 100%;
    position:absolute;
    top: 0;
    right: 0;
    z-index: 99;
    /*This makes the button huge. If you want a bigger button, increase the font size*/
    font-size:50px;
    /*Opacity settings for all browsers*/
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)
}

.feed .intersection {
    height: 10px;
    width: 100%;
    background-color: #15181C;
    border-bottom: 1px solid #404040;
}

.feed .news_feed {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.feed .news_feed .tweet {
    width: 100%;
    height: auto;
    padding: 10px 15px;
    display: flex;
    border-bottom: 1px solid #404040;
}

.feed .news_feed .tweet .content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 10px;
}


.feed .news_feed .tweet .icon {
    width: 50px;
    height: 50px;
    background-color: #008dc2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px;
}

.feed .news_feed .tweet .icon img {
    width: 100%;
    margin-bottom: 0;
}
.feed .news_feed .tweet .content .author {
    display: flex;
    flex-direction: row;
}

.feed .news_feed .tweet .content .author .pseudo {
    width: 100%;
    font-size: 17px;
}

.feed .news_feed .tweet .content .author .pseudo strong {
    font-weight: 400;
    color: #6E767D;
}

.feed .news_feed .tweet .content .author p {
    font-weight: 400;
    color: #6E767D !important;
}

.feed .news_feed .tweet .content .img img {
    width: 100%;
    height: auto;
    max-height: 300px;
    border-radius: 30px;
    margin-bottom: 20px;
}

.feed .news_feed .tweet .content .interacting {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.feed .news_feed .tweet .content .interacting .item {
    width: 20%;
}

.feed .news_feed .tweet .content .interacting .item i {
    margin-right: 15px;
}