{% extends 'base.html.twig' %}
{% block body %}
    {#{{ app.user.username }}#}

    {#{{ app.user.birthdate |date("m/d/Y") }}#}

    {#    <div class="card">#}
    {#    <div class="card-header">#}
    {#        Publiez votre tweet#}
    {#    </div>#}
    {#    <div class="card-body">#}

    {#    </div>#}
    {#    </div>#}

    {% include '_partials/slider_bar.html.twig' %}


    {% include '_partials/feed.html.twig' %}

{#    {% include '_partials/tweet_comments.html.twig' %}#}



    <section class="trend">
        <div class="research">

        </div>
    </section>

    {#    <section class="footer">#}
    {#        <div class="container text-center">#}
    {#            <h2>Twitter</h2>#}
    {#            <p>Hervé HENRY - Marc DAVID - Sydney MURAT</p>#}
    {#        </div>#}
    {#    </section>#}


    {% block javascripts %}

        <script>

            $('#reussite').hide();
            $('#formID').on('submit', function(e) {
                e.preventDefault();

                var formulaire = $(this);

                var post_type = formulaire.attr('method');
                var post_url = formulaire.attr('action');
                var post_data = new FormData(formulaire[0]);
                console.log(post_data);

                $.ajax({
                    type: post_type,
                    url: post_url,
                    data: post_data,
                    processData: false,
                    contentType: false,
                    cache: false,
                    success: function(data) {

                        $('.news_feed').html(data);
                        $('#formID')[0].reset();
                    }
                });

            });

            function like(id) {
            var idtweet = id;
                $('#like' + idtweet).on('click', function (e) {
                    e.preventDefault();





                    var like = 1;

                    $.ajax({
                        type: 'POST',
                        url: '{{ path('user_like') }}',
                        data: 'idtweet=' + idtweet + '&like=' + like,

                        success: function(data) {

                            $('.feed .news_feed .tweet .content .interacting .item:nth-child(2):hover i')
                                .css("color", "red", "-webkit-text-stroke-color", "red")
                            ;

                        }
                    });

                });

                }
        </script>
    {% endblock %}
{% endblock %}
