{% extends 'base.html.twig' %}
{% block body %}
    {#{{ app.user.username }}#}

    {#{{ app.user.birthdate |date("m/d/Y") }}#}

    {#    <div class="card">#}
    {#    <div class="card-header">#}
    {#        Publiez votre tweet#}
    {#    </div>#}
    {#    <div class="card-body">#}

    {#    </div>#}
    {#    </div>#}

    {% include '_partials/slider_bar.html.twig' %}

    {% include '_partials/feed.html.twig' %}

{#    {% include '_partials/tweet_comments.html.twig' %}#}


    <section class="trend">
        <div class="research">

        </div>
    </section>

    {#    <section class="footer">#}
    {#        <div class="container text-center">#}
    {#            <h2>Twitter</h2>#}
    {#            <p>Hervé HENRY - Marc DAVID - Sydney MURAT</p>#}
    {#        </div>#}
    {#    </section>#}
{% endblock %}